<IfModule mod_authz_core.c>
    Require all granted
</IfModule>
# Basic protection: deny script execution in uploads
RemoveHandler .php .phtml .php3 .php4 .php5 .php7 .phps
php_flag engine off
Options -ExecCGI
